In [134]:
import pandas as pd
import seaborn as sns
from IPython.display import display, Markdown, Latex
#display(Markdown('# some markdown $\phi$'))
# If you particularly want to display maths, this is more direct:
#display(Latex('\phi'))
import itertools

# Analysis of Files for NIH data retrieval

## First we will get the list from Dr. Boyd 
- this is the one with 3 columns not the one with colors that is more recent
- Lets look at the first few lines:

In [76]:
boyd = pd.read_csv('boyd_list.tsv', sep="\t")

boyd.head()

  Kids First ID  Metopic
0        1130_1  metopic
1        1130_2        U
2        1130_3  metopic
3        1225_1  metopic
4        1225_2        U

In [126]:
print(len(boyd))
# lets make sure all are in a similar format with _ in the id vs - as well as remove extra spaces
boyd['Kids First ID'] = [i.replace("-", "_").replace(' ','') for i in boyd['Kids First ID'].to_list()]
print(len(set(boyd['Kids First ID'])))

228
228

- we see it has a length of 228 as well as 228 unique IDs which checks out

---

## Next we will get the file from Dr. Justice that contains 884 original successful runs and 45 from 2nd round of sequencing (from the extra tab in the excel file):
- Here the `ucd_id` is the column of interest and we would like all the other columns for Brian that are contained in the list from boyd retrieved above.

In [78]:
nih_all = pd.read_csv('884and45.tsv', sep="\t")
nih_all.head()

,specimen_id,cavatica_id,library_id,ucd_id,father,mother,sex,aff
0,5136-SB-0006,5d826033e4b0950c3fd90e83,SL340228,8013_3,0,0,1.0,U
1,5136-SB-0013,5d82602fe4b0950c3fd8e2c1,SL340235,8049_1,8049_3,8049_2,1.0,metopic
2,5136-SB-0015,5d826033e4b0950c3fd90e67,SL340237,8049_3,0,0,1.0,U
3,5136-SB-0017,5d82602fe4b0950c3fd8e7d0,SL340239,8051_2,0,0,2.0,U
4,5136-SB-0020,5d82602fe4b0950c3fd8e7e6,SL340242,8054_2,0,0,2.0,U

In [123]:
print(len(nih_all))
# lets make sure all are in a similar format with _ in the id vs - as well as remove extra spaces
nih_all['ucd_id'] = [i.replace("-", "_").replace(' ','') for i in nih_all['ucd_id'].to_list()]
print(len(set(nih_all['ucd_id'])))

929
929

- so we get 929 which matches 884 + 45 as expected
- in addition all of values of ucd_id are unique which is good and expected.

---

## So now that these two data are assesed and cleaned lets compare 
- the items we would like the retrieve from the `boyd` list of `Kids First Id`

In [80]:
boolean_series = nih_all.ucd_id.isin(boyd['Kids First ID'].to_list())
filtered_df = nih_all[boolean_series]

In [125]:
print(len(filtered_df))
print(len(set(boyd['Kids First ID'].to_list())))
print(len(set(nih_all['ucd_id'].to_list())))

227
228
929

In [149]:

display(Markdown("#### Boyd file - NIH 884 and 45:"))
print(set(boyd['Kids First ID'].to_list())-set(nih_all['ucd_id'].to_list()))

display(Markdown("#### Boyd file - Filtered (all the value in Boyd file that are in NIH file)"))
print(set(boyd['Kids First ID'].to_list())-set(filtered_df['ucd_id'].to_list()))
display(Markdown("- we see the only difference between file is the value at the end of the file summarizing the groups in the file :) (in column `ucd_id`)"))
      
display(Markdown("#### Filtered - NIH file"))
print(set(filtered_df['ucd_id'].to_list())-set(nih_all['ucd_id'].to_list()))
display(Markdown("- there should not be any values in filter not in NIH (obviously)"))

#set(nih_all['ucd_id'].to_list())-set(boyd['Kids First ID'].to_list())

#### Boyd file - NIH 884 and 45:

{'65trios(2multi),10duos,5probands'}

#### Boyd file - Filtered (all the value in Boyd file that are in NIH file)

{'65trios(2multi),10duos,5probands'}

- we see the only difference between file is the value at the end of the file summarizing the groups in the file :) (in column `ucd_id`)

#### Filtered - NIH file

set()

- there should not be any values in filter not in NIH (obviously)

Looks great! We see there is only a difference in one value in length. This is just due to the summary line.

---

## So now that these three data are assesed and cleaned lets compare to the dataset Dr. Boyd send today (the excel file that was colored. 
- we have now determined that the `filterd_df` object is the proper information to use moving forward. 
- lets save the file and call it `filtered_SLID_DRC_ID2.tsv`

filtered_df.to_csv("filtered_SLID_DRC_ID2.tsv", sep="\t")

In [86]:
filtered_df.head()

,specimen_id,cavatica_id,library_id,ucd_id,father,mother,sex,aff
0,5136-SB-0006,5d826033e4b0950c3fd90e83,SL340228,8013_3,0,0,1.0,U
1,5136-SB-0013,5d82602fe4b0950c3fd8e2c1,SL340235,8049_1,8049_3,8049_2,1.0,metopic
2,5136-SB-0015,5d826033e4b0950c3fd90e67,SL340237,8049_3,0,0,1.0,U
3,5136-SB-0017,5d82602fe4b0950c3fd8e7d0,SL340239,8051_2,0,0,2.0,U
6,5136-SB-0022,5d82602fe4b0950c3fd8e2c7,SL340244,8057_1,8057_3,8057_2,1.0,metopic

- so now lets compare that to the dataset from Dr. Boyd (the colored one)

In [156]:
comp_met = pd.read_csv('complete_metopic.tsv', sep='\t')
# lets make sure all are in a similar format with _ in the id vs - as well as remove extra spaces
comp_met['Individual'] = [i.replace('-','_').replace(' ', '') for i in comp_met['Individual']]

In [157]:
comp_met.head()

,DRC_ID,SLID,Family,Individual,Father,Mother,Sex,Affected_status
0,5136-SB-0678,SL331500,1130,1130_1,1130_3,1130_2,1,metopic
1,5136-SB-0679,SL331501,1130,1130_2,0,0,2,U
2,5136-SB-0680,SL331502,1130,1130_3,0,0,1,metopic
3,5136-SB-0663,SL331485,1225,1225_1,1225_3,1225_2,1,metopic
4,5136-SB-0664,SL331486,1225,1225_2,0,0,2,U

In [190]:
print(len(comp_met['Individual']))
print(len(set(comp_met['Individual'])))
import collections
count_dic = {}
for item in comp_met['Individual']:
    if item in count_dic.keys():
        count_dic[item] += 1
    else:
        count_dic[item] = 1
        
print(sorted((count_dic[item], item) for item in count_dic)[-1])
print(count_dic['1269_4'])

230
229
(2, '11004_1_osteo')
1

- so we see that all values in the file comp metadata are unique except for `11004_1_osteo` which is in the new colored file twice and is for a good reason
- But this value 230 is different then the filtered length so lets see where this goes wrong and it is of note that now we can treat this `comp_met` file as the superior source thus far. 

---

In [193]:
display(Markdown("#### New Dr. Boyd file with colors - Filtered dataset from previous steps"))
print(set(comp_met['Individual'].to_list()) - set(filtered_df['ucd_id'].to_list()))

display(Markdown("####  Filtered dataset from previous steps - New Dr. Boyd file with colors"))
print(set(filtered_df['ucd_id'].to_list()) -set(comp_met['Individual'].to_list()))

#### New Dr. Boyd file with colors - Filtered dataset from previous steps

{'1269_4', '11004_1_osteo'}

####  Filtered dataset from previous steps - New Dr. Boyd file with colors

set()

So now we need some follow. Lets go back to the NIH file and get the difference just to make sure they are all the same

In [195]:
display(Markdown("####  Colored file - NIH file"))
print(set(comp_met['Individual'].to_list()) - set(nih_all['ucd_id'].to_list()))

####  Colored file - NIH file

set()

---

# Summary
- overall we see that the only difference to be concerned from moving forward is that there are two entries for `11004_1_osteo`
     - This is due to the following: There are two samples 11004_1 osteo – we provided DNA extracted from osteoblasts culture from the affected suture to compare with variants from blood derived DNA in order to search for possible somatic mosaicism as a cause of craniosynostosis. The osteo sample was sequenced twice to ensure 60X depth. Does this make sense?

- we see that entry `1269_4` is present in the file given by Dr. Boyd (with the colors) but not present in the previous filtered file so now that shoudl be our more updated file to use 

- Lets make sure that the values for IDs in the NIH servers all match:

In [225]:
new_boolean_series = nih_all.ucd_id.isin(comp_met['Individual'].to_list())
new_filtered_df = nih_all[new_boolean_series]
print(len(new_filtered_df))
print(len(set(new_filtered_df['ucd_id'])))

# same because the two 11004_1 entries
print(len(set(comp_met['Individual'])))
print(len(comp_met['Individual']))

229
229
229
230

- all values are unique which is good

In [204]:
print(set(comp_met['Individual']) - set(new_filtered_df['ucd_id']))
print(set(new_filtered_df['ucd_id']) - set(comp_met['Individual']))

set()
set()

- so we see the only difference is the duplicate entry for `11004_1_osteo`

### Double check the IDs (SLID and DRCID)

In [206]:
comp_met.head()

,DRC_ID,SLID,Family,Individual,Father,Mother,Sex,Affected_status
0,5136-SB-0678,SL331500,1130,1130_1,1130_3,1130_2,1,metopic
1,5136-SB-0679,SL331501,1130,1130_2,0,0,2,U
2,5136-SB-0680,SL331502,1130,1130_3,0,0,1,metopic
3,5136-SB-0663,SL331485,1225,1225_1,1225_3,1225_2,1,metopic
4,5136-SB-0664,SL331486,1225,1225_2,0,0,2,U

In [208]:
new_filtered_df.head()

,specimen_id,cavatica_id,library_id,ucd_id,father,mother,sex,aff
0,5136-SB-0006,5d826033e4b0950c3fd90e83,SL340228,8013_3,0,0,1.0,U
1,5136-SB-0013,5d82602fe4b0950c3fd8e2c1,SL340235,8049_1,8049_3,8049_2,1.0,metopic
2,5136-SB-0015,5d826033e4b0950c3fd90e67,SL340237,8049_3,0,0,1.0,U
3,5136-SB-0017,5d82602fe4b0950c3fd8e7d0,SL340239,8051_2,0,0,2.0,U
6,5136-SB-0022,5d82602fe4b0950c3fd8e2c7,SL340244,8057_1,8057_3,8057_2,1.0,metopic

In [222]:

print(set(new_filtered_df['specimen_id'].to_list()) - set(comp_met['DRC_ID'].to_list()))
print(set(comp_met['DRC_ID'].to_list()) - set(new_filtered_df['specimen_id'].to_list()))
print(comp_met[comp_met['DRC_ID']=='5136-SB-0619'])


print(set(new_filtered_df['library_id'].to_list()) - set(comp_met['SLID'].to_list()))
print(set(comp_met['SLID'].to_list()) - set(new_filtered_df['library_id'].to_list()))
print(comp_met[comp_met['SLID']=='SL331463'])

set()
{'5136-SB-0619'}
           DRC_ID      SLID  Family     Individual   Father   Mother Sex  \
115  5136-SB-0619  SL331463   11004  11004_1_osteo  11004_3  11004_2   1

    Affected_status
115         metopic
set()
{'SL331463'}
           DRC_ID      SLID  Family     Individual   Father   Mother Sex  \
115  5136-SB-0619  SL331463   11004  11004_1_osteo  11004_3  11004_2   1

    Affected_status
115         metopic

- So this confirms that the data being used matches what was seen and the NIH data is missing the original or second sequeincing for `11004_1_osteo`

- lets get the trio counts and what not just to confirm

- In order to complete this analysis it would be of interest to add the information from the colored file from Dr. Boyd to the NIH data where it is missing.
    - TODO: THIS WILL BE COMPLETED BELOW